body {
    background-color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header { 
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.titulo {
    color: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    text-align: center;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
    display: inline-block; /* Exibe os itens de navegação em linha */
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid transparent; /* Inicialmente, a borda é transparente */
    transition: 0.3s;
}

nav ul li a:hover {
    border: 2px solid #ffffff; /* Adiciona uma borda branca ao passar o mouse */
    border-radius: 5px; /* Adiciona um raio de borda para suavizar os cantos */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.contatos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato a {
    text-decoration: none;
}

.contato img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 15px;
}

.contato img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.obrigado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.obrigado h1 {
    font-size: 4em;
    font-weight: bold;
}
@media (max-width: 768px) {
    header {
        font-size: 25px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul {
        display: flex;
        flex-direction: column; /* Mudando para coluna no mobile */
        align-items: center;
    }

    .image img {
        width: 100%;
        height: auto;
    }

    .contatos {
        flex-direction: column; /* Mudando para coluna no mobile */
    }

    .contato img {
        width: 50px;
        height: 50px;
    }

    .obrigado h1 {
        font-size: 2em;
    }
}